@model IEnumerable<Task2.Models.CustomerTb>

@{
    ViewData["Title"] = "GetCustomer";
}
@{
    int count = 0;
}


<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sr.no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                       <span>@count++</span>
                    </td>
                    <td>
                        <span>@item.FirstName+" "+@item.LastName</span>
                           
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @if(item.Gender=="M"){
<span>
    Male
</span>                        }
else{
    <span>Female</span>
}
                    </td>
                   
                    <td>
                        <a asp-action="EditCustomer" asp-route-id="@item.CustomerId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                    </td>
                </tr>
                }
        </tbody>
           
       
    </table>
</div>
